* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: lightblue;
    align-items: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
button {
    background-color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
}
h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 10px;
}
h2 {
    font-size: 22px;
    margin: 10px;

}
span {
    margin: 10px;
}
div {
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}
.red {
    color: red;
}
.green {
    color: green;
}
.amarillo {
    color: yellow;
}
table {
    margin: auto;
    background-color: darkblue;
    padding: 1px;
}
.op {
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 30%;
}
img {
    padding: 5px;
    width: 100px;
    height: 100px;
}